@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Merriweather+Sans:wght@500&family=Open+Sans&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
}

.navbar{
    background-color: rgba(4,9,30,1);
    color: white;
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather Sans', sans-serif;
}

p{
    color: grey;
}

#header a{
    color: white;
}

.navbar-toggler-icon{
    color: green;
}
.navbar-toggler {
    color: white;

}
.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 200%;
    font-weight: bolder;
}

.action-btn {
    background-color: #f7631b;
    color: white;
}

.btn-primary {
    background-color: #f7631b;
    color: white;
    border: none;
}

.banner-area {
    background: url(../images/banner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: grey;
    margin-top: -64px;
}

.banner-area h1{
    font-family: "Lora";
    text-decoration: none;    
    font-weight: bolder;
    color: white;
}

.banner-area p{
    color: grey;
}

.jumbotron {
    height: 955px;
}
@media (max-width: 768px) {
      .jumbotron { height: 655px; }
}


footer {
    background-color: #04091e;
    color: grey;
}

footer h5{
    color: white;
}

footer li{
    list-style: none;
}

.subscribe {
    width: 100%;
    position: relative;
    display: flex;
}

.subscribe button {
    margin-left: 2px;
}

.recent-news {
    text-align: center;
}
